/*@keyframes initOpacity {
    0% { transform: opacity 0%; }
    50% { transform: opacity 20%; }
    100% { transform: opacity 40%; }
}

.main-content-home {
    animation-name: initOpacity;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}*/