:root {
  --cor-principal: #161f48;
  --cor-secundaria: #2cabaa;
  --cor-terciaria: #417571;
  --cor-quarternaria: #d1deba;
  --cor-background: #cad5de;
}

.navbar {  
  /* flex-box */
  display: flex;
  flex-direction: row;  
  align-items: center; /* vertical */
  justify-content: space-between; /* horizontal */
  /*align-content: flex-end;*/
  /* estilo do elemento */
  box-sizing: border-box;
  padding: 0px 20px;
  width: 100dvw;
  height: 50px;
  max-height: 120px;
  background-color: var(--cor-principal);    
  border: 2px gray solid;
}

.navbar-logo-image {
  width: 45px;
  height: 45px;
}

.navbar a {  
  color: white;
  margin: 0px 5px;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--cor-quarternaria);
}

.navbar a:visited {
  color: none;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  } 
  button {
    background-color: #f9f9f9;
  }
}
